* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

#home {

    display: flex;
    /*mode baris*/
    align-items: center;
    /*Supaya teks dan foto rata tengah secara vertikal*/
    justify-content: space-between;
    /*mendorong teks ke kiri mentok, foto ke kanan mentok*/
    margin: 20px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.skill-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.skill-item img {
    width: 100px;
    height: auto;
}

/* Container project */
.project-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Desain kartu Card */
.project-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Contact */
#contact {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 20px;
}

.contact-info {
    flex: 1;
}

.contact-form-container {
    flex: 1;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
}

.form-grup {
    margin-bottom: 15px;
}

.form-grup label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

.form-grup input,
.form-grup textarea {
    width: 100%;
    padding: 8px;
    background-color: #333;
    border: none;
    color: white;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* style Footer */
footer {
    background-color: #0f172a;
    margin-top: 50px;
    border-top: 1px solid #1e293b;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    color: #64748b;
}

.footer-links a {
    color: #64748b;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: white;
}